<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>ユーザー登録</title>
    </head>
    <body>
        <h1>ユーザー登録</h1>
        <form action="{% url 'accounts:signup' %}" method="post">
            {% csrf_token %} 
            <label for="id_name">学籍番号 : </label>
            {{ form.username }}
            <br>
            <br>
            <label for="id_name">メールアドレス : </label>
            {{ form.email }}
            <br>
            <br>
            <label for="id_name">パスワード : </label>
            {{ form.password1 }}
            <br>
            <br>
            <label for="id_name">パスワード(確認用) : </label>
            {{ form.password2 }}
            <br>
            <br>
            <button type="button" onclick="location.href=`{% url 'students:home' %}`">
                戻る
            </button>
            <input type="submit" value="登録" />
        </form>
    </body>
</html>