#バージョン
Python==3.10.11

Django==5.0.6
google-api-python-client==2.136.0
qrcode==7.4.2

#仮想環境立ち上げ
python -m venv selenium_env

selenium_env\Scripts\activate

pip install Django==5.0.6
pip install google-api-python-client==2.136.0
pip install qrcode==7.4.2